

.textStyle{
    color: crimson;
    font-size: x-large;
    text-shadow: black;
}
/*body{
    background-image: url("jdbc-architecture.jpeg");
    background-repeat: no-repeat;
    align-items: stretch;
}*/
